---
import SectionTitle from "./SectionTitle.astro";
import ProjectCard from "./ProjectCard.astro";
import type { PortfolioProject } from "@Data";

type Props = {
	projects: PortfolioProject[];
	copy: {
		title: string;
		card: {
			availableLabel: string;
			unavailableLabel: string;
			availableMessage: string;
			unavailableMessage: string;
			visitProjectLabel: string;
			viewGithubLabel: string;
			prevImageLabel: string;
			nextImageLabel: string;
			closeLabel: string;
			expandedImageLabel: string;
			availableProjectLabel: string;
			unavailableProjectLabel: string;
		};
	};
};

const { projects, copy } = Astro.props as Props;
---

<section id="projetos" class="block">
	<SectionTitle label={copy.title} icon="beaker" />
	<div class="grid" id="projects-grid">
		{projects.map((project) => <ProjectCard project={project} copy={copy.card} />)}
	</div>
</section>
